# requirements.txt (LA CONFIGURATION DE COMPATIBILITÉ FINALE)
fastapi
uvicorn
mlconjug3
setuptools
PyYAML
defusedxml
pandas
joblib

# On force les versions compatibles entre elles
scikit-learn==1.3.0
numpy==1.26.4

